{%extends 'base.html' %}
{%block body%}


    <div class="breadcrumbs overlay">
        <div class="container" style="height: 100px;">
            <div class="row align-items-center">
                <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title" style="text-align: center;margin: -100px;">About Us</h1>
                    </div>
                    <ul class="breadcrumb-nav">
                        <li><a href="/">Home</a></li>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <section class="about-us section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="content-left wow fadeInLeft" data-wow-delay=".3s">
                        <img src="../static/assets/images/about/about.png" alt="#" />
                        <!-- <a href="../static/assets/images/video/video.mp4"
                            class="glightbox video"><i class="lni lni-play"></i></a> -->
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="content-right wow fadeInRight" data-wow-delay=".5s">
                        <span class="sub-heading">About</span>
                        <h2>Gynaecology/Obstetrics</h2>
                        <p>
                            Women of all age groups have different health concerns, which are appropriately assessed and addressed with the utmost care. The hospital provides comprehensive treatment for fibroids including open myomectomies unsuitable to endoscopic (keyhole) surgery. The department also focuses on expert consuelling and quality care on matter related to infertility management, family welfare, menopause management, reconstructive surgeries amongst many others.
                        </p>
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <ul class="list">
                                    <li>
                                        <i class="lni lni-checkbox"></i>Conducts eye health
                                        checkups
                                    </li>
                                    <li>
                                        <i class="lni lni-checkbox"></i>Best lasik treatment
                                    </li>
                                    <li>
                                        <i class="lni lni-checkbox"></i>Treats minor illnesses
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-12">
                                <ul class="list">
                                    <li><i class="lni lni-checkbox"></i>Special eye exam</li>
                                    <li>
                                        <i class="lni lni-checkbox"></i>Contact lens service
                                    </li>
                                    <li><i class="lni lni-checkbox"></i>Special Retina exam</li>
                                </ul>
                            </div>
                        </div>
                        <div class="button">
                            <a href="" class="btn">More About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

     <!-- doctors section -->
 <section class="doctors section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h3>Doctors</h3>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">
                        Our Team
                    </h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s">
                        There are many variations of passages of Lorem Ipsum available, but the majority have
                        suffered alteration in some form.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            {%for i in team%}
            <div class="col-lg-3 col-md-6 col-12">

                <div class="single-doctor wow fadeInUp" data-wow-delay=".2s">
                    <div class="image">
                        <a href="/doctor_details/{{i.slug}}"><img src="/media/{{i.image}}" style="height: 300px;" alt="#"></a>
                        <ul class="social">
                            <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-instagram"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-youtube"></i></a></li>
                        </ul>
                    </div>

                   
                    <div class="content">
                        <h5>{{i.speciality}}</h5>
                        <h3><a href="/doctor_details/{{i.slug}}">{{i.name}}</a></h3>
                    </div>

                   
                </div>

            </div>
            {%endfor%}
            <!-- <div class="col-lg-3 col-md-6 col-12">

                <div class="single-doctor wow fadeInUp" data-wow-delay=".4s">
                    <div class="image">
                        <img src="assets/images/doctors/doctor2.jpg" alt="#">
                        <ul class="social">
                            <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-instagram"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-youtube"></i></a></li>
                        </ul>
                    </div>
                    <div class="content">
                        <h5>Neurologist</h5>
                        <h3><a href="doctor-details.html">Dr.Alice Williams</a></h3>
                    </div>
                </div>

            </div> -->
           
       
        </div>
    </div>
</section>
<!-- End doctors section -->
    <!-- <section class="testimonials section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title align-center gray-bg">
                        <h3>testimonials</h3>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">What People Say</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">
                            There are many variations of passages of Lorem Ipsum available,
                            but the majority have suffered alteration in some form.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row testimonial-slider">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-testimonial">
                        <div class="text">
                            <div class="quote-icon">
                                <i class="lni lni-quotation"></i>
                            </div>
                            <p>
                                "It’s amazing how much easier it has been to meet new people
                                and create instant connections."
                            </p>
                        </div>
                        <div class="author">
                            <img src="assets/images/testimonial/testi1.jpg" alt="#" />
                            <h4 class="name">
                                Jane Anderson
                                <span class="deg">Cancer client</span>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-testimonial">
                        <div class="text">
                            <div class="quote-icon">
                                <i class="lni lni-quotation"></i>
                            </div>
                            <p>
                                "It’s amazing how much easier it has been to meet new people
                                and create instant connections."
                            </p>
                        </div>
                        <div class="author">
                            <img src="assets/images/testimonial/testi2.jpg" alt="#" />
                            <h4 class="name">
                                Paul Flavius
                                <span class="deg">Heather</span>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-testimonial">
                        <div class="text">
                            <div class="quote-icon">
                                <i class="lni lni-quotation"></i>
                            </div>
                            <p>
                                "It’s amazing how much easier it has been to meet new people
                                and create instant connections."
                            </p>
                        </div>
                        <div class="author">
                            <img src="assets/images/testimonial/testi3.jpg" alt="#" />
                            <h4 class="name">
                                Harry Russel
                                <span class="deg">Surgery client</span>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-testimonial">
                        <div class="text">
                            <div class="quote-icon">
                                <i class="lni lni-quotation"></i>
                            </div>
                            <p>
                                "It’s amazing how much easier it has been to meet new people
                                and create instant connections."
                            </p>
                        </div>
                        <div class="author">
                            <img src="assets/images/testimonial/testi4.jpg" alt="#" />
                            <h4 class="name">
                                Alice Williams
                                <span class="deg">Mother</span>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

   
    <!-- <div class="client-logo-section">
        <div class="container">
            <div class="client-logo-wrapper">
                <div class="
              client-logo-carousel
              d-flex
              align-items-center
              justify-content-between
            ">
                    <div class="client-logo">
                        <img src="../static/assets/images/clients/client-logo-1.png" alt="#" />
                    </div>
                    <div class="client-logo">
                        <img src="../static/assets/images/clients/client-logo-2.png" alt="#" />
                    </div>
                    <div class="client-logo">
                        <img src="../static/assets/images/clients/client-logo-3.png" alt="#" />
                    </div>
                    <div class="client-logo">
                        <img src="../static/assets/images/clients/client-logo-4.png" alt="#" />
                    </div>
                    <div class="client-logo">
                        <img src="../static/assets/images/clients/client-logo-2.png" alt="#" />
                    </div>
                    <div class="client-logo">
                        <img src="../static/assets/images/clients/client-logo-3.png" alt="#" />
                    </div>
                    <div class="client-logo">
                        <img src="assets/images/clients/client-logo-4.png" alt="#" />
                    </div>
                </div>
            </div>
        </div>
    </div> -->

{%endblock%}
