{%extends 'base.html' %}
{%load static%}
{%block body%}

<!-- slider -->

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      
    {%for i in cara %}
      <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
        <img src="/media/{{i.image}}"  class="d-block w-100" style="height: 600px;" alt="...">
      </div>

      {%endfor%}
      <!-- <div class="carousel-item">
        <img src="/static/assets/images/hos3.jpg" class="d-block w-100" style="height: 600px;" alt="...">
      </div> -->
      <!-- <div class="carousel-item">
        <img src="/static/assets/images/hos5.jpg" class="d-block w-100" style="height: 600px;" alt="...">
      </div> -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<!-- end slider -->

 <!-- <section class="hero-area"> 
        <div class="shapes">
            <img src="../static/assets/images/hero/05.svg" class="shape1" alt="#" />
            <img src="../static/assets/images/hero/01.svg" class="shape2" alt="#" />
        </div>
        <div class="hero-slider">
            <div class="single-slider">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="hero-text">
                                <div class="section-heading">
                                    <h2 class="wow fadeInLeft" data-wow-delay=".3s">
                                        Find A Doctor & <br />Book Appointment
                                    </h2>
                                    <p class="wow fadeInLeft" data-wow-delay=".5s" style="color: rgba(10, 5, 5, 0.747);">
                                        <b> Since the first days of operation of Arsi medical centre, our teaming has been focused
                                            on building a high-qualities medicals service byArsi medical centre.
                                        </b>
                                    </p>
                                    <div class="button wow fadeInLeft" data-wow-delay=".7s">
                                        <a href="/appointment" class="btn"><b>Book Appointment</b></a>
                                        <a href="/about" class="btn"><b>About
                                                Us</b></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="hero-image wow fadeInRight" data-wow-delay=".5s">
                                <img src="../static/assets/images/hero/slider-3.png" alt="#" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="single-slider">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="hero-text wow fadeInLeft" data-wow-delay=".3s">
                                <div class="section-heading">
                                    <h2>
                                        We only give <br /> Best care to your eyes
                                    </h2>
                                    <p style="color: rgb(0, 0, 0);">
                                        <b> Since the first days of operation of Arsi medical centre, our teaming has been focused
                                            on building a high-qualities medicals service by Arsi medical centre.</b>
                                    </p>
                                    <div class="button">
                                        <a href="/appointment" class="btn"><b>Book Appointment</b></a>
                                        <a href="/about" class="btn"><b>About
                                                Us</b></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="hero-image">
                                <img src="../static/assets/images/hero/slider-2.png" alt="#" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="single-slider">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="hero-text wow fadeInLeft" data-wow-delay=".3s">
                                <div class="section-heading">
                                    <h2>
                                        Superior solutions that <br /> help you to shine.
                                    </h2>
                                    <p style="color: rgb(2, 1, 1);">
                                        <b> Since the first days of operation of Arsi medical centre, our teaming has been focused
                                            on building a high-qualities medicals service by Arsi medical centre.</b>
                                    </p>
                                    <div class="button">
                                        <a href="/appointment" class="btn"><b>Book Appointment</b></a>
                                        <a href="/about" class="btn"><b>About
                                                Us</b></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="hero-image">
                                <img src="../static/assets/images/hero/slider-3.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>  -->

    <!-- <section class="our-achievement section" style="background-color: #237D9E">
        <div class="container">
            <div class="row">

                {%for i in department%}

                <div class="col-lg-3 col-md-3 col-12">
                    <div class="single-achievement wow fadeInUp" data-wow-delay=".2s">
                      <a href="/department/{{i.slug}}">
                        <p><h3>{{i.name}}</h3></p></a>
                    </div>
                </div>
                {%endfor%}
             
               
              
            </div>
        </div>
    </section> -->
    
    <!-- about-us section -->
    <section class="about-us section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="content-left wow fadeInLeft" data-wow-delay=".3s">
                        <img src="../static/assets/images/about/about.png" alt="#" />
                        <!-- <a href="../static/assets/images/video/video.mp4" class="glightbox video"><i
                                class="lni lni-play"></i></a> -->
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="content-right wow fadeInRight" data-wow-delay=".5s">
                        <!-- <span class="sub-heading">About</span> -->
                        <h2> Gynaecology/Obstetrics
                        </h2>
                        <p>
                           Women of all age groups have different health concerns, which are appropriately assessed and addressed with the utmost care. The hospital provides comprehensive treatment for fibroids including open myomectomies unsuitable to endoscopic (keyhole) surgery. The department also focuses on expert consuelling and quality care on matter related to infertility management, family welfare, menopause management, reconstructive surgeries amongst many others.
                        </p>
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <ul class="list">
                                    <li>
                                        <i class="lni lni-checkbox"></i>Conducts eye health checkups
                                    </li>
                                    <li>
                                        <i class="lni lni-checkbox"></i>Best lasik treatment
                                    </li>
                                    <li>
                                        <i class="lni lni-checkbox"></i>Treats minor illnesses
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-12">
                                <ul class="list">
                                    <li><i class="lni lni-checkbox"></i>Special eye exam</li>
                                    <li>
                                        <i class="lni lni-checkbox"></i>Contact lens service
                                    </li>
                                    <li><i class="lni lni-checkbox"></i>Special Retina exam</li>
                                </ul>
                            </div>
                        </div>
                        <!-- <div class="button">
                            <a href="/about" class="btn">More About
                                Us</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End about-us section -->

   

   

<!-- departments section -->
    
    <!-- <section class="departments section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h3>Departments</h3>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">
                            Specialities available at Arcemedicalcenter
                        </h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">
                            There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                
                <div class="col-12">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        
                     
                        {%for i in department%}
                         <li class="nav-item" role="presentation"> 
                          <a href="/department/{{i.slug}}">  <button class="nav-link" id="{{i.name}}-tab" data-bs-toggle="tab"
                                data-bs-target="{{i.name}}" type="button" role="tab" aria-controls="{{i.name}}"
                                aria-selected="false">
                                <i class="lni lni-syringe"></i> {{i.name}}
                            </button></a>
                        </li> 
                        {%endfor%}
                       
                       
                    </ul>

                    
                  
                    </div>
                   

                </div>
                

            </div>
        </div>
    </section> -->
  

    <!-- our-achievement section -->
    <section class="our-achievement section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="single-achievement wow fadeInUp" data-wow-delay=".2s">
                        <i class="lni lni-apartment"></i>
                        <h3 class="counter">
                            <span id="secondo1" class="countup" cup-end="1250">1250</span>
                        </h3>
                        <p>Hospital Rooms</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="single-achievement wow fadeInUp" data-wow-delay=".4s">
                        <i class="lni lni-sthethoscope"></i>
                        <h3 class="counter">
                            <span id="secondo2" class="countup" cup-end="350">350</span>
                        </h3>
                        <p>Specialist Doctors</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="single-achievement wow fadeInUp" data-wow-delay=".6s">
                        <i class="lni lni-emoji-smile"></i>
                        <h3 class="counter">
                            <span id="secondo3" class="countup" cup-end="2500">2500</span>
                        </h3>
                        <p>Happy Patients</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="single-achievement wow fadeInUp" data-wow-delay=".6s">
                        <i class="lni lni-certificate"></i>
                        <h3 class="counter">
                            <span id="secondo3" class="countup" cup-end="35">35</span>
                        </h3>
                        <p>Years of Experience</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End our-achievement section -->

    <!-- portfolio-section -->
    <!-- <section class="portfolio-section section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h3>Projects</h3>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">
                            Here is Some of our <br />Latest Cases
                        </h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">
                            There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="portfolio-btn-wrapper wow fadeInUp" data-wow-delay=".4s">
                        <button class="portfolio-btn active" data-filter="*">
                            Show All
                        </button>
                        <button class="portfolio-btn" data-filter=".cardiology">
                            Cardiology
                        </button>
                        <button class="portfolio-btn" data-filter=".diabetes">
                            Diabetes
                        </button>
                        <button class="portfolio-btn" data-filter=".pediatric">
                            Pediatric
                        </button>
                        <button class="portfolio-btn" data-filter=".neurosurgery">
                            Neurosurgery
                        </button>
                    </div>
                </div>
            </div>
            <div class="row grid">
                <div class="col-lg-4 col-md-6 grid-item diabetes">
                    <div class="portfolio-item-wrapper">
                        <div class="portfolio-img">
                            <img src="../static/assets/images/portfolio/pf1.jpg" alt="#" />
                        </div>
                        <div class="portfolio-overlay">
                            <div class="pf-content">
                                <a href="portfolio-details.html" class="detail-btn"><i class="lni
                                            lni-link"></i></a>
                                <span class="category">Cardiac Surgery</span>
                                <h4>
                                    <a href="portfolio-details.html">Qualified
                                        Physicians</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grid-item diabetes">
                    <div class="portfolio-item-wrapper">
                        <div class="portfolio-img">
                            <img src="../static/assets/images/portfolio/pf2.jpg" alt="#" />
                        </div>
                        <div class="pf-content">
                            <a href="portfolio-details.html" class="detail-btn"><i class="lni lni-link"></i></a>
                            <span class="category">Cloud Services</span>
                            <h4>
                                <a href="portfolio-details.html">Personalized
                                    Medication</a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grid-item pediatric">
                    <div class="portfolio-item-wrapper">
                        <div class="portfolio-img">
                            <img src="../static/assets/images/portfolio/pf3.jpg" alt="#" />
                        </div>
                        <div class="pf-content">
                            <a href="portfolio-details.html" class="detail-btn"><i class="lni lni-link"></i></a>
                            <span class="category">Dietetics</span>
                            <h4>
                                <a href="portfolio-details.html">Excellence
                                    And Safety</a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grid-item cardiology">
                    <div class="portfolio-item-wrapper">
                        <div class="portfolio-img">
                            <img src="../static/assets/images/portfolio/pf4.jpg" alt="#" />
                        </div>
                        <div class="pf-content">
                            <a href="portfolio-details.html" class="detail-btn"><i class="lni lni-link"></i></a>
                            <span class="category">Eye Surgery</span>
                            <h4><a href="portfolio-details.html">Dry Eye
                                    Surgery</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grid-item pediatric">
                    <div class="portfolio-item-wrapper">
                        <div class="portfolio-img">
                            <img src="../static/assets/images/portfolio/pf5.jpg" alt="#" />
                        </div>
                        <div class="pf-content">
                            <a href="portfolio-details.html" class="detail-btn"><i class="lni lni-link"></i></a>
                            <span class="category">Surgical</span>
                            <h4><a href="portfolio-details.html">Surgical
                                    Procedure</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grid-item neurosurgery">
                    <div class="portfolio-item-wrapper">
                        <div class="portfolio-img">
                            <img src="../static/assets/images/portfolio/pf6.jpg" alt="#" />
                        </div>
                        <div class="pf-content">
                            <a href="portfolio-details.html" class="detail-btn"><i class="lni lni-link"></i></a>
                            <span class="category">Eye Surgery</span>
                            <h4><a href="portfolio-details.html">Dry Eye
                                    Surgery</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- End portfolio-section -->

    

    <!-- testimonials section -->
    <!-- <section class="testimonials section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title align-center gray-bg">
                        <h3>testimonials</h3>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">What People Say</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">
                            There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row testimonial-slider">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-testimonial">
                        <div class="text">
                            <div class="quote-icon">
                                <i class="lni lni-quotation"></i>
                            </div>
                            <p>
                                "It’s amazing how much easier it has been to meet new people and create instant
                                connections."
                            </p>
                        </div>
                        <div class="author">
                            <img src="../static/assets/images/testimonial/testi1.jpg" alt="#" />
                            <h4 class="name">
                                Jane Anderson
                                <span class="deg">Cancer client</span>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-testimonial">
                        <div class="text">
                            <div class="quote-icon">
                                <i class="lni lni-quotation"></i>
                            </div>
                            <p>
                                "It’s amazing how much easier it has been to meet new people and create instant
                                connections."
                            </p>
                        </div>
                        <div class="author">
                            <img src="../static/assets/images/testimonial/testi2.jpg" alt="#" />
                            <h4 class="name">
                                Paul Flavius
                                <span class="deg">Heather</span>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-testimonial">
                        <div class="text">
                            <div class="quote-icon">
                                <i class="lni lni-quotation"></i>
                            </div>
                            <p>
                                "It’s amazing how much easier it has been to meet new people and create instant
                                connections."
                            </p>
                        </div>
                        <div class="author">
                            <img src="../static/assets/images/testimonial/testi3.jpg" alt="#" />
                            <h4 class="name">
                                Harry Russel
                                <span class="deg">Surgery client</span>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-testimonial">
                        <div class="text">
                            <div class="quote-icon">
                                <i class="lni lni-quotation"></i>
                            </div>
                            <p>
                                "It’s amazing how much easier it has been to meet new people and create instant
                                connections."
                            </p>
                        </div>
                        <div class="author">
                            <img src="../static/assets/images/testimonial/testi4.jpg" alt="#" />
                            <h4 class="name">
                                Alice Williams
                                <span class="deg">Mother</span>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- End testimonials section -->



    <section class="appointment-section">
        <div class="image-layer" style="background-image: url(images/background/2.jpg);"></div>
        <div class="auto-container">
            <div class="row">
                <!-- Content Column -->
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <span class="title">Need a Doctor for Check-up?</span>
                        <h2>Just Make an Appointment <br>and You’re Done!</h2>
                        <div class="number">Get Your Quote or Call: <strong> 9891649485 </strong></div>
                        <a href="/appointment" class="theme-btn btn-style-three"><span class="btn-title">Get an Appointment</span></a>
                    </div>
                </div>
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <figure class="image"><img src="../static/assets/images/image-4.png" alt=""></figure>
                </div>
            </div>

            <div class="fun-fact-section">
                <div class="row">
                    <!--Column-->
                    <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                        <div class="count-box">
                            <div class="icon-box"><span class="icon flaticon-user-experience"></span></div>
                            <h4 class="counter-title">Years of Experience</h4>
                            <span class="count-text" data-speed="3000" data-stop="25">5</span>
                        </div>
                    </div>

                    <!--Column-->
                    <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                        <div class="count-box">
                            <div class="icon-box"><span class="icon flaticon-team"></span></div>
                            <h4 class="counter-title">Medical Specialist</h4>
                            <span class="count-text" data-speed="3000" data-stop="470">5</span>
                        </div>
                    </div>

                    <!--Column-->
                    <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                        <div class="count-box">
                            <div class="icon-box"><span class="icon flaticon-hospital"></span></div>
                            <h4 class="counter-title">Services</h4>
                            <span class="count-text" data-speed="3000" data-stop="689">24X7</span>
                        </div>
                    </div>

                    <!--Column-->
                    <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="1200ms">
                        <div class="count-box">
                            <div class="icon-box"><span class="icon flaticon-add-friend"></span></div>
                            <h4 class="counter-title">Happy Patients</h4>
                            <span class="count-text" data-speed="3000" data-stop="9036">200+</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


   
   
    <!-- doctors section -->
    <section class="doctors section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h3>Doctors</h3>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">
                            Our Team
                        </h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">
                            Our Specialists are only the Best and Most Experienced Doctors in India.  Together, we bring loads of experience and expertise to the table to offer only exceptional service for you.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                {%for i in team%}
                <div class="col-lg-3 col-md-6 col-12">

                    <div class="single-doctor wow fadeInUp" data-wow-delay=".2s">
                        <div class="image">
                            <a href="/doctor_details/{{i.slug}}"><img src="/media/{{i.image}}" style="height: 300px;" alt="#"></a>
                            <ul class="social">
                                <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-instagram"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-youtube"></i></a></li>
                            </ul>
                        </div>

                       
                        <div class="content">
                            <h5>{{i.speciality}}</h5>
                            <h3><a href="/doctor_details/{{i.slug}}">{{i.name}}</a></h3>
                        </div>

                       
                    </div>

                </div>
                {%endfor%}
                <!-- <div class="col-lg-3 col-md-6 col-12">

                    <div class="single-doctor wow fadeInUp" data-wow-delay=".4s">
                        <div class="image">
                            <img src="assets/images/doctors/doctor2.jpg" alt="#">
                            <ul class="social">
                                <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-instagram"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-youtube"></i></a></li>
                            </ul>
                        </div>
                        <div class="content">
                            <h5>Neurologist</h5>
                            <h3><a href="doctor-details.html">Dr.Alice Williams</a></h3>
                        </div>
                    </div>

                </div> -->
               
           
            </div>
        </div>
    </section>
    <!-- End doctors section -->

    <!-- how-works section -->
    <section class="how-works">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12 p-0">
                    <div class="single-work first">
                        <div class="main-icon">
                            <i class="lni lni-agenda"></i>
                        </div>
                        <h3>Best Monitoring System</h3>
                        <p>
                            Despite advances in technology and understanding of biological systems, drug discovery is
                            still a lengthy, expensive.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 p-0">
                    <div class="single-work middle">
                        <div class="main-icon">
                            <i class="lni lni-hospital"></i>
                        </div>
                        <h3>Advanced Operating Room</h3>
                        <p>
                            Despite advances in technology and understanding of biological systems, drug discovery is
                            still a lengthy, expensive.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 p-0">
                    <div class="single-work last">
                        <div class="main-icon">
                            <i class="lni lni-sthethoscope"></i>
                        </div>
                        <h3>Only Best Doctors</h3>
                        <p>
                            Despite advances in technology and understanding of biological systems, drug discovery is
                            still a lengthy, expensive.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End how-works section -->

   <!-- gallery section -->
<section class="doctors section">
    <div class="container">
        <div class="sec-title text-center">
            <!-- <span class="title">OUR BLOG</span> -->
            <h2>Gallery</h2>
            <span class="divider"></span>
        </div>
        <div class="row">
            {%for i in gallery%}
            <div class="col-lg-3 col-md-6 col-12">

                <div class="single-doctor wow fadeInUp" data-wow-delay=".2s">
                    <div class="image">
                        <a ><img src="/media/{{i.image}}" style="height: 300px; width:300px;" alt="#"></a>
                        
                    </div>

                </div>

            </div>
            {%endfor%}
         
        </div>
    </div>
</section>


<!-- End gallery section -->


    <section class="news-section">
        <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title text-center">
                <span class="title">OUR BLOG</span>
                <h2>Recent Articles and News</h2>
                <span class="divider"></span>
            </div>

            <div class="row">
                <!-- News Block -->

                {%for posts in post%}
                <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="/post/{{posts.slug}}"><img src="/media/{{posts.image}}" style="width: 400px;height: 250px;"  alt=""></a></figure>
                           
                            <a href="#" class="date">{{posts.date}}</a>
                        </div>
                        <div class="lower-content">
                            <h4><a href="/post/{{posts.slug}}"></a>{{posts.title}}</h4>
                            <div class="text">{{posts.desc|slice:"1:100"}} ...</div>
                            <div class="post-info">
                                <div class="post-author">{{posts.name}}</div>
                               
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}

                <!-- News Block -->
                <!-- <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="blog-post-image.html"><img src="../static/assets/images/news-2.jpg" alt=""></a></figure>
                            <a href="#" class="date">Sep 19, 2020</a>
                        </div>
                        <div class="lower-content">
                            <h4><a href="blog-post-image.html">How to handle your kids’ <Br>mystery ailments?</a></h4>
                            <div class="text">Nullam mauris vitae tortor sodales efficitur. Quisque orci ante. Proin amet turpis</div>
                            <div class="post-info">
                                <div class="post-author">By Admin Rose</div>
                                <ul class="post-option">
                                    <li><a href="#">0 <i class="far fa-heart"></i></a></li>
                                    <li><a href="#">0 <i class="far fa-comments"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- News Block -->
                <!-- <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="blog-post-image.html"><img src="../static/assets/images/news-2.jpg" alt=""></a></figure>
                            <a href="#" class="date">Sep 19, 2020</a>
                        </div>
                        <div class="lower-content">
                            <h4><a href="blog-post-image.html">How to help the cardiology <br>department</a></h4>
                            <div class="text">Nullam mauris vitae tortor sodales efficitur. Quisque orci ante. Proin amet turpis</div>
                            <div class="post-info">
                                <div class="post-author">By Admin Rose</div>
                                <ul class="post-option">
                                    <li><a href="#">0 <i class="far fa-heart"></i></a></li>
                                    <li><a href="#">0 <i class="far fa-comments"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> -->

            </div>
        </div>
    </section> 

      <!-- how-works section -->
      <section class="how-works">
        <div class="container-fluid">
            <div class="row">
               
                <div class="col-12 p-0">
                    <div class="single-work middle">
                        <div class="main-icon">
                            <i class="lni lni-hospital"></i>
                        </div>
                        <h3>What Says Our Patients</h3>

                        {%for i in feedback%}
                        <p>
                           {{i.desc}}
                        </p>
                      {%endfor%}
                    </div>
                </div>
              
            </div>
        </div>
    </section>
    <!-- End how-works section -->


    {%endblock%}

   
