{%extends 'base.html' %}
{%block body%}


    <div class="breadcrumbs overlay">
        <div class="container" style="height: 100px;">
            <div class="row align-items-center">
                <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title" style="text-align: center; margin: -100px;">Blog Grid Sidebar</h1>
                    </div>
                    <ul class="breadcrumb-nav">
                        <li><a href="index.html">Home</a></li>
                        <li>Blog Grid Sidebar</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <section class="section latest-news-area blog-list">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-12">

                    <div class="single-news">
                        {%for posts in post%}
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-12 pr-0">
                                <div class="image">
                                    <a href="/post/{{posts.slug}}"><img src="/media/{{posts.image}}"
                                        style="height: 350px;width:400px;" alt="#"></a>
                                </div>
                            </div>
                           
                            <div class="col-lg-7 col-md-7 col-12  pl-0">
                                <div class="content">
                                    <h2 class="title"><a href="/post/{{posts.slug}}">{{posts.title}}</a>
                                    </h2>
                                    <p>{{posts.desc}}</p>
                                    <ul class="meta-info">
                                        <li>
                                            <a ><img src="/media/{{posts.writer_img}}"
                                                    alt="#">{{posts.name}}
                                               </a>
                                        </li>
                                        <li>
                                            <a >{{posts.date}} </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <h1 class="my-3"></h1>
                        </div>
                        {%endfor%}
                    </div>


                </div>


                <aside class="col-lg-4 col-md-12 col-12">
                    <div class="sidebar blog-grid-page">

                 
                        <div class="widget appointment-widget">
                            <h5 class="widget-title">Make An Appointment</h5>
                            <form class="form" action="#" method="POST">
                                <div class="form-box form-group">
                                    <input type="text" name="name" class="form-control form-control-custom"
                                        placeholder="Your Name" />
                                </div>
                                <div class="form-box form-group">
                                    <input type="email" name="email" class="form-control form-control-custom"
                                        placeholder="Your Email" />
                                <div class="form-box form-group">
                                    <textarea name="#" class="form-control form-control-custom"
                                        placeholder="Your Message"></textarea>
                                </div>
                                <div class="button">
                                    <button type="button" class="btn">Submit</button>
                                </div>
                            </form>
                        </div>

                        

                      

                        

                    </div>
                </aside>
            </div>
            </div>
        </section>
    
    
       {%endblock%}