
{%extends 'base.html' %}
{%block body%}

    <div class="breadcrumbs overlay">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Project Details</h1>
                    </div>
                    <ul class="breadcrumb-nav">
                        <li><a href="/">Home</a></li>
                        <li>Project Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="portfolio-details">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-12">
                        <div class="details-content">
                            <div class="thumb">
                                <img src="assets/images/portfolio/portfolio-detail-img.jpg" alt="#">
                            </div>
                            <h3 class="title">About this Test</h3>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard
                                McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of
                                the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through
                                the cites of the word in classical literature, discovered the undoubtable source. Lorem
                                Ipsum comes from sections 1.10.32 and 1.10.33 of “de Finibus Bonorum et Malorum” (The
                                Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the
                                theory of ethics,</p>
                            <h4 class="sub-title">Significance and Impact</h4>
                            <p>Languages realizes why a new common language would be desirable: one could refuse to pay
                                expensive translators. To achieve this, it would be necessary to have uniform grammar,
                                pronunciation and more common words. If several languages coalesce, the grammar of the
                                resulting. would be desirable.</p>
                            <div class="image-block">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <img src="assets/images/portfolio/pf1.jpg" alt="#">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <img src="assets/images/portfolio/pf4.jpg" alt="#">
                                    </div>
                                </div>
                            </div>
                            <h4 class="sub-title">Result For The Blood Test</h4>
                            <p>Sed ut perspiciatis undeomnis iste natus error sit voluptatem accusantium dolore Totam
                                rem
                                aperiam with a long list of products and never ending customer support.</p>
                            <ul class="list">
                                <li><i class="lni lni-checkmark"></i> Cerebrovascular disease, such as stroke</li>
                                <li><i class="lni lni-checkmark"></i> Demyelinating diseases of the central nervous
                                    system,
                                    such as multiple sclerosis
                                </li>
                                <li><i class="lni lni-checkmark"></i> Headache disorders
                                </li>
                                <li><i class="lni lni-checkmark"></i> Infections of the brain and peripheral nervous
                                    system
                                </li>
                                <li><i class="lni lni-checkmark"></i> Movement disorders, such as Parkinson's disease
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-12">
                        <div class="portfolio-sidebar">
                            <div class="single-widget researcher-details">
                                <h3>About Researcher</h3>
                                <div class="author-box">
                                    <img src="assets/images/portfolio/researcher-img.jpg" alt="author">
                                    <h6>Dr.Alice Williams</h6>
                                    <p class="fw-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                        eiusmod tempor
                                        incididunt ut labore.</p>
                                    <ul class="social">
                                        <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a>
                                        </li>
                                        <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a>
                                        </li>
                                        <li><a href="javascript:void(0)"><i class="lni lni-instagram-filled"></i></a>
                                        </li>
                                        <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a>
                                        </li>
                                        <li><a href="javascript:void(0)"><i class="lni lni-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-widget">
                                <h3>Research Details</h3>
                                <ul class="list-info">
                                    <li>
                                        <i class="lni lni-files"></i>
                                        <span>Researcher Name :</span> Dr.Alice Williams
                                    </li>
                                    <li>
                                        <i class="lni lni-user"></i>
                                        <span>Client :</span> Mononucleosis Test
                                    </li>
                                    <li>
                                        <i class="lni lni-pencil-alt"></i>
                                        <span>Category : </span> Vulputate Cursus
                                    </li>
                                    <li>
                                        <i class="lni lni-calendar"></i>
                                        <span>Research Year :</span> 2023
                                    </li>
                                    <li>
                                        <i class="lni lni-map-marker"></i>
                                        <span>Location : </span> Bulls Stadium, Califorina
                                    </li>
                                    <li>
                                        <i class="lni lni-checkmark-circle"></i>
                                        <span>Delivery Mode : </span> Stipulated Price
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


   {%endblock%}